body {
  background-color: #f3f3f6 !important;
}

/* header */

/* NAVBAR - WEB */

.animation {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.animation:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.animation:hover, .animation:focus, .animation:active {
  color: white;
}
.animation:hover:before, .animation:focus:before, .animation:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/* NAVBAR - MOBILE */


#navbarHeader {
  background-color: rgba(255, 229, 56, 0.85);
}

.navTitulos{
  font-family: "Poppins", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
  font-size: 16px !important;
}

.navTitulos:hover {
  font-weight: 600 !important;
  font-size: 16px !important;
}

.navbar-brand {
  font-size: 0.9vw !important;
}

.birdHeader {
  width: 1.2vw;
}

/* Video */

.tituloVideo {
  text-align: left;
  position: absolute;
  top: 30vw;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 6vw !important;
}

.section0 {
  background-color: rgba(255, 229, 56, 0.85);
}

#tituloRicardo {
  font-family: "Poppins", sans-serif;
  font-size: 1.3vw;
  color: black;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  text-align: left;
  position: absolute;
  top: 27vw;
  left: 0%;
  z-index: 2;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#titspanRicardo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.3vw;
  font-style: italic;
}

/* Profile */

.section1 {
  background-color: rgba(255, 229, 56, 0.85);
}

.tituloProfile {
  color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 30pt;
  font-style: italic;
}

/* SKILLS/TOOLS */

.titulosSection2 {
  color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 30pt;
}

.skillsIcons {
  width: 5vw;
}

.caixa {
  width: 400px;
  height: 400px;
}

.icon-class {
  width: 64px;
}

.card-icon {
  width: 120px;
  height: 120px;
  text-align: center;
}

.tituloSkills {
  color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2.5vw;
  font-style: italic;
}

.subSkills {
  color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  text-align: center;
}

/* Five Pillars of Problem Solving   */

.titulosSection3 {
  font-style: italic;
  background-color: rgba(255, 229, 56, 0.85);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  display: inline-block;
  padding: 0 5px;
}

/* MAILBOX   */

#basic-addon1 {
  font-style: italic;
  background-color: rgba(255, 229, 56, 0.85);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}

#textAreaExample5::placeholder {
  color: #c5c5c5;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 1.2vw;
}

#buttonFTB {
  font-style: italic;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.2vw;
  background-color: rgba(255, 229, 56, 0.85);
}

.bird {
  width: 1.4vw;
}

/* FOOTER   */

#navbarFooter {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.2vw;
}

.footerText {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1vw;
}

#iconMail {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 1.4vw;
}

.telefone {
  width: 1.5vw;
}

/* Media queries */

@media (max-width: 576px) {
  #tituloRicardo {
    font-size: 3vw;
  }

  #titspanRicardo {
    font-size: 3vw;
  }

  .titulosSection2 {
    color: #1e1e1e;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 30pt;
  }

  .tituloSkills {
    font-size: 5vw;
  }

  .subSkills {
    font-size: 3vw;
  }

  #textAreaExample5::placeholder {
    font-size: 3vw;
  }

  #buttonFTB {
    font-size: 3vw;
  }

  .bird {
    width: 4vw;
  }

  .footerText {
    font-size: 3vw;
  }

  #iconMail {
    font-size: 2vw;
  }

  .telefone {
    width: 4vw;
  }
}

@media (max-width: 768px) {
  #tituloRicardo {
    font-size: 3vw;
  }

  #titspanRicardo {
    font-size: 3vw;
  }

  .titulosSection2 {
    font-size: 30pt;
  }

  .tituloSkills {
    font-size: 5vw;
  }

  .subSkills {
    font-size: 2.5vw;
  }

  #textAreaExample5::placeholder {
    font-size: 3vw;
  }

  #buttonFTB {
    font-size: 3vw;
  }

  .bird {
    width: 4vw;
  }

  .footerText {
    font-size: 2vw;
  }

  #iconMail {
    font-size: 2.5vw;
  }

  .telefone {
    width: 4vw;
  }
}

@media (max-width: 992px) {
  .tituloSkills {
    font-size: 4vw;
  }

  .subSkills {
    font-size: 1.5vw;
  }

  #textAreaExample5::placeholder {
    font-size: 3vw;
  }

  #buttonFTB {
    font-size: 2vw;
  }

  .bird {
    width: 3vw;
  }

  .footerText {
    font-size: 2vw;
    padding: 10px;
  }

  #iconMail {
    font-size: 2.5vw;
  }

  .telefone {
    width: 4vw;
  }
}

@media (max-width: 1200px) {
  .tituloSkills {
    font-size: 4vw;
  }

  .subSkills {
    font-size: 0.9vw;
  }

  .caixa {
    width: 600px;
    height: 600px;
  }

  .icon-class {
    width: 54px;
  }

  .card-icon {
    width: 90px;
    height: 90px;
  }

  #textAreaExample5::placeholder {
    font-size: 2vw;
  }

  #buttonFTB {
    font-size: 2vw;
  }

  .bird {
    width: 3vw;
  }

  .footerText {
    font-size: 1vw;
    padding: 10px;
  }

  #iconMail {
    font-size: 1vw;
  }

  .telefone {
    width: 1vw;
  }
}

@media (min-width: 1201px) {
  .tituloSkills {
    font-size: 2vw;
  }

  .subSkills {
    font-size: 0.7vw;
  }

  #textAreaExample5::placeholder {
    font-size: 1vw;
  }

  #buttonFTB {
    font-size: 1vw;
  }

  .bird {
    width: 2vw;
  }

  .footerText {
    font-size: 0.8vw;
    padding: 10px;
  }

  #iconMail {
    font-size: 1vw;
  }

  .telefone {
    width: 1vw;
  }
}
