body {
  background-color: #f3f3f6 !important;
}

/* header */

/* NAVBAR - WEB */

.animation {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.animation:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.animation:hover, .animation:focus, .animation:active {
  color: white;
}
.animation:hover:before, .animation:focus:before, .animation:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/* NAVBAR - MOBILE */
header {
  position: absolute;
  width: 100%;
  background: #fff;
  left: 0;
  
  z-index: 100;
}


#navbarHeader {
  background-color: rgba(255, 229, 56, 0.85);
  padding: 0 !important;
}

.navTitulos{
  font-family: "Poppins", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
  font-size: 12px !important;
}

.navTitulos:hover {
  font-weight: 600 !important;
  font-size: 12px !important;
}

.birdHeader {
  width: 16px;
}


/* Video */

.tituloVideo {
  text-align: left;
  position: absolute;
  top: 30vw;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 6vw !important;
}

.section0 {
  background-color: rgba(255, 229, 56, 0.85);
}

#tituloRicardo {
  font-family: "Poppins", sans-serif;
  font-size: 1.3vw;
  color: black;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  text-align: left;
  position: absolute;
  top: 27vw;
  left: 0%;
  z-index: 2;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#titspanRicardo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.3vw;
  font-style: italic;
}

/* Profile */

.section1 {
  background-color: rgba(255, 229, 56, 0.85);
}

.tituloProfile {
  color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 30pt;
  font-style: italic;
}

/* SKILLS/TOOLS */

.titulosSection2 {
  color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 30pt;
}

.skillsIcons {
  width: 5vw;
}

.icon-class {
  width: 64px;
}

.card-icon {
  width: 120px;
  height: 120px;
  text-align: center;
}

.tituloSkills {
  color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2.5vw;
  font-style: italic;
}

.subSkills {
  color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  text-align: center;
}

/* Five Pillars of Problem Solving   */

.titulosSection3 {
  font-style: italic;
  background-color: rgba(255, 229, 56, 0.85);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  display: inline-block;
  padding: 0 5px;
}

/* MAILBOX   */

#basic-addon1 {
  font-style: italic;
  background-color: rgba(255, 229, 56, 0.85);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}

#textAreaExample5::placeholder {
  color: #c5c5c5;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
    font-size: 16px !important;
}

#buttonFTB {
  font-style: italic;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
    font-size: 16px !important;
  background-color: rgba(255, 229, 56, 0.85);
}

  .bird {
    width: 26px !important;
  }

/* FOOTER   */

#navbarFooter {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px !important;
}

#myStory{
  font-size: 14px !important;
}

#allRights{
  font-size: 14px !important;
}

.footerText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px !important;
}

.iconsFooter {
  width: 16px !important;
}




/* - -------------------   Media queries ---------------------------- - */

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

/* Video */

  #tituloRicardo {
    font-size: 2.5vw;
    width: max-content;
  }

  #titspanRicardo {
    font-size: 2.5vw;
  }

  .titulosSection2 {
    color: #1e1e1e;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 30pt;
  }

/* Skill/Tools */

  .tituloSkills {
    font-size: 30px !important;
  }

  .subSkills {
    font-size: 11px !important;
  }

}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

  /* Video */
  
  #tituloRicardo {
    font-size: 3vw;
  }

  #titspanRicardo {
    font-size: 3vw;
  }

  .titulosSection2 {
    font-size: 30pt;
  }

  /* Skill/Tools */

  .tituloSkills {
    font-size: 30px !important;
  }

  .subSkills {
    font-size: 11px !important;
  }


/* // Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { */

 .tituloSkills {
    font-size: 30px !important;
  }

  .subSkills {
    font-size: 11px !important;
  }


/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
.tituloSkills {
    font-size: 30px !important;
  }

  .subSkills {
    font-size: 11px !important;
  }

  .caixa {
    width: 600px;
    height: 600px;
  }

  .icon-class {
    width: 54px;
  }

  .card-icon {
    width: 90px;
    height: 90px;
  }
  
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
.tituloSkills {
    font-size: 30px !important;
  }

  .subSkills {
    font-size: 11px !important;
  }

}
